<div class="form-group">
  <label for="Log Transaction">Log Transaction</label>
  <input
    type="number"
    class="form-control my-2"
    id="transactionAmt"
    placeholder="Enter Transaction Amount"
  />
  <small id="emailHelp" class="fs-5 form-text text-light">Enter a transaction amount,
  then submit by clicking a category</small>
</div>



<div class="form-group">
  <label for="Log Transaction">Note:</label>
  <input
    type="text"
    class="form-control my-2"
    id="transactionNote"
    placeholder="Optionally, add a note"
  />
</div>


<div class="bg-light p-5 rounded-5">

  <div>
    <h4>Expenses</h4>
    {{#each categoriesExpense as |category|}}
      {{#if category.expense}}

        <button
          id="category"
          class="newTransaction btn btn-danger my-2"
          data-index-number="{{category.id}}"
        >{{category.category_name}}</button>

      {{/if}}
    {{/each}}

  </div>
  <div>
    <h4>Income</h4>

    {{#each categoriesIncome as |category|}}

      {{#if category.expense}}{{else}}
        <button
          id="category"
          class="newTransaction btn btn-success my-2"
          data-index-number="{{category.id}}"
        >{{category.category_name}}</button>

      {{/if}}
    {{/each}}

  </div>

</div>
<a href="/editCategory" class="btn btn-info">Edit Categories</a>
<script src="./js/logtransaction.js"></script>