
<div class="form-group">
  <label for="Transactions List"></label>
  
  <div class=" py-3 text-dark bg-light rounded">
    <div>
      <h4>Your Transactions:</h4>
      {{#each transactions as |transaction|}}
        <div class="transaction-item p-2 border-bottom rounded mb-2">
          <p>Date: {{transaction.date_created}}</p>
          <p>Total: ${{transaction.amount}}</p>
          <p>Category: {{transaction.category.category_name}}</p>
          <p>Comments: {{transaction.notes}}</p>
          <button class="btn btn-primary" href="/transactions/{{transaction.id}}">Edit</button>
          <button class="btn btn-danger" id="transactiondelete" data-index-number="{{transaction.id}}"> Delete </button>
        </div>
      {{/each}}
    </div>
  </div>
</div>
 <script src="../js/deleteTransaction.js"></script>